@model IEnumerable<Project_Talent.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div id='customers'></div>

@section scripts{
    <script src="~/Scripts/react/dist/customers.bundle.js"></script>
    <script src="~/Scripts/semantic-ui-react.js"></script>
}
